html {
  font-family: "DM Sans", Arial, Helvetica, sans-serif; }

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0; }

.container {
  margin-inline-start: 14px;
  margin-inline-end: 15px; }

ul,
figure,
p {
  margin: 0;
  padding: 0; }

.site_header {
  background-color: #434CCC;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-block-start: 16px;
  padding-block-end: 16px; }

.site_header__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  top: 4%;
  left: 90%; }

.site_header--span {
  display: block;
  text-indent: -999px; }

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  top: 50%;
  left: 90%; }

.site_header__navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-80%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ .site_header__navigation {
  transform: translateX(50%); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }
