html {
  font-family: $font-stack;
  font-size: var(--base-font-size);
}

body {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
}

.container {
  margin-inline-start: calc((var(--base-margin) - 2px));
  margin-inline-end: calc((var(--base-margin) - 1px));
}

figure,
p {
  margin: 0;
  padding: 0;
}

ul {
  @include nav-ul;
}

body * a {
  text-decoration: none;
}

@media (min-width: $desktop_min_width) {
  .container {
    @include container-desk;
  }
}