@import "variables";

.footer {
  position: relative;
  background-color: $bg-heading-color;
}

.footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  right: 0%;
  top: 88%;
  bottom: 0%;
  background: $base-color;
  opacity: 0.1;
}

.footer_heading {
  @extend %big-headeing;
  color: $base-color;
}

.footer_presentation,
.footer__list--link,
.image_name,
.footer_creater_modifier,
.footer_creater_copyright {
  @extend %small-font;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.active {
  @extend %small-font;
  font-weight: 700;
  color: $base-color;
}

.footer__list--link:hover {
  color: $base-color;
  font-weight: 700;
}

.footer_list--items-active {
  padding-bottom: 16px;
}

.footer__lists li + li {
  padding-top: 8px;
}

.image_date {
  @include smallest-font;
  line-height: $base-line-height;
}

.footer_presentation {
  padding-top: 23px;
  padding-bottom: 23px;
}

.footer_personal__info {
  padding-top: 76px;
  padding-bottom: 79px;
}

.footer_images__container {
  padding-top: 78px;
  padding-bottom: 70px;
}

.footer_woman__images,
.footer_passage__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 31px;
}

.footer_images__lists li picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.footer_images__lists {
  padding-top: 78px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 27px;
}

.footer_woman__images {
  grid-column: 1 / 3;
}

.footer_passage__images {
  grid-column: 1 / 3;
}

.footer_creater {
  padding-top: 27px;
  padding-bottom: 29px;
  & p + p {
    padding-top: 8px;
  }
}

@media (min-width: $desktop_min_width) {
  .footer_creater {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 75px;
    & p + p {
      padding-top: 0px;
    }
  }

  .footer::after {
    top: 72.5%;
  }

  .footer_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .footer_personal__info {
    padding-top: 72px;
    grid-column: 1 / 3;
  }
  .footer_lists__container {
    padding-top: 79px;
    grid-column: 4 / 5;
  }
  .footer_images__lists {
    padding-top: 78px;
    grid-column: 6 / 9;
    row-gap: 39px;
  }
  .footer_images__lists li picture img {
    width: calc(100% - 100px);
    height: calc(50vh - 100px);
  }
  .footer_woman__images,
  .footer_passage__images {
    column-gap: unset;
  }
  .footer_images__lists li .photos {
    margin-inline-start: -3rem;
  }
}