.social_links {
  display: flex;
  flex-direction: row;
  margin-left: -0.5rem;
}

.icon {
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 1.5rem;
  display: block;
  text-indent: -999px;
  margin-right: 10px;
}

.icon_facebook {
  background-image: image("icon_facebook.svg");
}

.icon_twitter {
  background-image: image("icon_twitter.svg");
}

.icon_instagram {
  background-image: image("icon_instagram.svg");
}

.icon_facebook:hover {
  filter: invert(90%) sepia(50%) saturate(1352%) hue-rotate(80deg) brightness(100%) contrast(100%);
}

.icon_twitter:hover {
  filter: invert(50%) sepia(50%) saturate(1352%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.icon_instagram:hover {
  filter: invert(90%) sepia(50%) saturate(1352%) hue-rotate(90deg) brightness(100%) contrast(100%);
}