@import "variables";

.information {
  padding-top: calc(var(--base-padding) + 25px);
}

.information_heading {
  @include sub-title;
  margin: 0;
  padding-bottom: calc(var(--base-padding) - 19px);
} 

.information_description {
  @extend %description-paragraph;
}

.information_recommendation {
  @extend %small-font;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding-top: calc(var(--base-padding) - 19px);
  padding-bottom: calc(var(--base-padding) - 19px);
}

@media (min-width: $desktop_min_width) {
  .information {
    padding-top: 0px;
  }
  .information_heading {
    @include desk-sub-title;
    padding-bottom: calc(var(--base-padding) - 21px);
    margin-top: -16px;
  }
  .information_recommendation {
    padding-top: calc(var(--base-padding) - 12px);
    padding-bottom: calc(var(--base-padding) + 5px);
  }
}