@import "variables";

.information {
  padding-block-start: 75px;
}

.information_heading {
  @include sub-title;
  margin: 0;
  padding-block-end: 31px;
} 

.information_description {
  @extend %description-paragraph;
}

.information_recommendation {
  @extend %small-font;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  padding-block-start: 32px;
  padding-block-end: 31px;
}

@media (min-width: $desktop_min_width) {
  .information {
    padding-block-start: 0px;
  }
  .information_heading {
    @include desk-sub-title;
    padding-block-end: 29px;
    margin-block-start: -16px;
  }
  .information_recommendation {
    padding-block-start: 38px;
    padding-block-end: 55px;
  }
}