@import "variables";

.masthead {
  padding-block-start: 31px;
  padding-block-end: 105px;
}

.previous a {
  @extend %small-font;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

.previous a::before {
  content: '';
  background-image: image("icon_arrow_left.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.masthead_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  color: $base-color;
  margin: 0;
  padding-block-start: 69px;
  padding-block-end: 65px;
}

.masthead-description {
  @extend %description-paragraph;
}

.images_sample {
  padding-block-start: 82px;
  padding-block-end: 92px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 9px;
  row-gap: 9px;
}

picture {
  position: relative;
  display: block;
}

.images_sample picture img {
  border-radius: 5px;
}

.images_sample .image_1 {
  grid-column: 1 / 6;
}

.masthead_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.masthead_list__items--result,
.masthead_list__items--categorie {
  @extend %small-font;
  font-weight: bold;
}


.masthead_list__items--categorie {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding-block-end: 8px;
}

.masthead_list__items--result {
  color: $base-color;
}

@media (min-width: $desktop_min_width) {
  .masthead_heading {
    font-size: 72px;
    line-height: 80px;
    max-width: 50%;
    padding-block-start: 38px;
    padding-block-end: 61px;
  }
  .masthead {
    padding-block-start: 49px;
    padding-block-end: 76px;
  }
  .masthead_information {
    padding-block-start: 104px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .masthead_list {
    row-gap: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    & br {
      display: none;
    }
  }
  .information {
    grid-column: 5 / 9;
    grid-row: 1 / 7;
  }
  .images_sample {
    padding-block-end: 0px;
    padding-block-start: 69px;
  }
}