@import "variables";

.site_header {
  background-color: $site-header-background-color;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.site_header__heading {
  @include bg-header;
  color:$bg-heading-color;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 90%;
}

.site_header--span {
  @include text-indent;
}

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: image("icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  top: 40%;
  left: 92%;
}

.site_header__navigation {
    padding: 2rem;
    background-color: lightslategray;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 100%;
    width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transform: translateX(0%);
}

body > input[type="checkbox"]:checked ~ .site_header .label_menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.site_header__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &  .site_header__list--items +  .site_header__list--items {
    padding-block-start: 1rem;
  }
}

.site_header__lists .site_header__list--items .site_header__list--link {
  @extend %small-font;
  font-weight: 700;
  color: $bg-heading-color;
}

.site_header__lists .site_header__list--items .active,
.site_header__lists .site_header__list--link:hover {
  color: black;
  opacity: 0.5;
}

@media (min-width: $desktop_min_width) {
  .site_header__heading {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 48px;
    color: $bg-heading-color;;
  }
  .site_header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .site_header__navigation {
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    align-self: center;
  }
  .site_header__lists .site_header__list--items .active {
    color: #ffffff;
    opacity: 1;
  }
  .site_header__lists .site_header__list--items .active:hover {
    color: black;
    opacity: 0.5;
  }
  .site_header__lists {
    flex-direction: row;
    &  .site_header__list--items +  .site_header__list--items {
      padding-block-start: 0px;
      margin-inline-start: 64px;
    }
  }
  .label_menu {
    display: none;
  }
}
