@import "variables";

.site_header {
  background-color: $site-header-background-color;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.site_header__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: calc(#{$default-font-size} + 0.5rem);
  line-height: calc(#{$base-line-height} + 8px);
  color:$bg-heading-color;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 90%;
}

.site_header--span {
  @include text-indent;
}

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: image("icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  top: 40%;
  left: 92%;
}

.site_header__navigation {
    padding: 2rem;
    background-color: lightslategray;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 100%;
    width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transform: translateX(0%);
}

body > input[type="checkbox"]:checked ~ .site_header .label_menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.site_header__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &  .site_header__list--items +  .site_header__list--items {
    padding-block-start: 1rem;
  }
}

.site_header__lists .site_header__list--items .site_header__list--link {
  @extend %small-font;
  font-weight: bold;
  color: $bg-heading-color;
}

.site_header__lists .site_header__list--items .active,
.site_header__lists .site_header__list--link:hover {
  color: black;
  opacity: 0.5;
}
