@import "variables";

.site_header {
  background-color: var(--site-header-background);
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-top: calc(var(--base-padding) - 34px);
  padding-bottom: calc(var(--base-padding) - 34px);
}

.site_header__heading {
  @include bg-header;
  color: var(--bg-heading-color);
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 90%;
}

.site_header--span {
  @include text-indent;
}

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: image("icon_menu.svg");
  background-repeat: no-repeat;
  background-size: var(--base-font-size);
  top: 40%;
  left: 92%;
}

.site_header__navigation {
    padding: calc(var(--base-padding) - 18px);
    background-color: lightslategray;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 100%;
    width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transform: translateX(0%);
}

body > input[type="checkbox"]:checked ~ .site_header .label_menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.site_header__lists {
  @include flex-column;
  &  .site_header__list--items +  .site_header__list--items {
    padding-top: calc(var(--base-padding) - 34px);
  }
}

.site_header__lists .site_header__list--items .site_header__list--link {
  @extend %small-font;
  font-weight: 700;
  color: var(--bg-heading-color);
}

.site_header__lists .site_header__list--items .active,
.site_header__lists .site_header__list--link:hover {
  color: var(--opacity-color);
}

@media (min-width: $desktop_min_width) {
  .site_header__heading {
    @include sub-title;
    color: var(--bg-heading-color);
  }
  .site_header__container {
    @include flex-row;
  }
  .site_header__navigation {
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    align-self: center;
  }
  .site_header__lists .site_header__list--items .active {
    color: var(--bg-heading-color);
    opacity: 1;
  }
  .site_header__lists .site_header__list--items .active:hover {
    color: var(--opacity-color);
  }
  .site_header__lists {
    flex-direction: row;
    &  .site_header__list--items + .site_header__list--items {
      padding-top: 0px;
      margin-left: calc(var(--base-margin) * 4);
    }
  }
  .label_menu {
    display: none;
  }
}
