.site_header__lists .site_header__list--items .site_header__list--link, .previous a, .masthead_list__items--result,
.masthead_list__items--categorie, .information_recommendation, .updates_categorie, .updates_submit, #subscribe_email::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1rem;
  line-height: 24px; }

.masthead-description, .information_description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 2px);
  line-height: 32px;
  color: #000000; }

.information_header, .updates_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0; }

html {
  font-family: "DM Sans", Arial, Helvetica, sans-serif; }

body {
  background-color: rgba(67, 76, 204, 0.05);
  margin: 0;
  padding: 0; }

.container {
  margin-inline-start: 14px;
  margin-inline-end: 15px; }

figure,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body * a {
  text-decoration: none; }

@media (min-width: 1100px) {
  .container {
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: 1170px;
    overflow: hidden; } }

.site_header__lists .site_header__list--items .site_header__list--link, .previous a, .masthead_list__items--result,
.masthead_list__items--categorie, .information_recommendation, .updates_categorie, .updates_submit, #subscribe_email::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1rem;
  line-height: 24px; }

.masthead-description, .information_description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 2px);
  line-height: 32px;
  color: #000000; }

.information_header, .updates_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0; }

.site_header {
  background-color: #434CCC;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-block-start: 16px;
  padding-block-end: 16px; }

.site_header__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 0.5rem);
  line-height: calc(24px + 8px);
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 90%; }

.site_header--span {
  display: block;
  text-indent: -999px; }

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  top: 40%;
  left: 92%; }

.site_header__navigation {
  padding: 2rem;
  background-color: lightslategray;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 100%;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s; }

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transform: translateX(0%); }

body > input[type="checkbox"]:checked ~ .site_header .label_menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.site_header__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .site_header__lists .site_header__list--items + .site_header__list--items {
    padding-block-start: 1rem; }

.site_header__lists .site_header__list--items .site_header__list--link {
  font-weight: bold;
  color: #FFFFFF; }

.site_header__lists .site_header__list--items .active,
.site_header__lists .site_header__list--link:hover {
  color: black;
  opacity: 0.5; }

.site_header__lists .site_header__list--items .site_header__list--link, .previous a, .masthead_list__items--result,
.masthead_list__items--categorie, .information_recommendation, .updates_categorie, .updates_submit, #subscribe_email::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1rem;
  line-height: 24px; }

.masthead-description, .information_description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 2px);
  line-height: 32px;
  color: #000000; }

.information_header, .updates_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0; }

.masthead {
  padding-block-start: 31px;
  padding-block-end: 75px; }

.previous a {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5); }

.previous a::before {
  content: '';
  background-image: url("../images/icon_arrow_left.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem; }

.masthead_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
  margin: 0;
  padding-block-start: 69px;
  padding-block-end: 65px; }

.images_sample {
  padding-block-start: 82px;
  padding-block-end: 92px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 9px;
  row-gap: 9px; }

picture {
  position: relative;
  display: block; }

.images_sample picture img {
  border-radius: 5px; }

.images_sample .image_1 {
  grid-column: 1 / 6; }

.masthead_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px; }

.masthead_list__items--result,
.masthead_list__items--categorie {
  font-weight: bold; }

.masthead_list__items--categorie {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding-block-end: 8px; }

.masthead_list__items--result {
  color: #000000; }

.site_header__lists .site_header__list--items .site_header__list--link, .previous a, .masthead_list__items--result,
.masthead_list__items--categorie, .information_recommendation, .updates_categorie, .updates_submit, #subscribe_email::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1rem;
  line-height: 24px; }

.masthead-description, .information_description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 2px);
  line-height: 32px;
  color: #000000; }

.information_header, .updates_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0; }

.information {
  padding-block-end: 105px; }

.information_heading {
  margin: 0;
  padding-block-end: 31px; }

.information_recommendation {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  padding-block-start: 32px;
  padding-block-end: 31px; }

.social_links {
  display: flex;
  flex-direction: row; }

.icon {
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 1.5rem;
  display: block;
  text-indent: -999px;
  margin-inline-end: 10px; }

.icon_facebook {
  background-image: url("../images/icon_facebook.svg"); }

.icon_twitter {
  background-image: url("../images/icon_twitter.svg"); }

.icon_instagram {
  background-image: url("../images/icon_instagram.svg"); }

.site_header__lists .site_header__list--items .site_header__list--link, .previous a, .masthead_list__items--result,
.masthead_list__items--categorie, .information_recommendation, .updates_categorie, .updates_submit, #subscribe_email::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1rem;
  line-height: 24px; }

.masthead-description, .information_description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 2px);
  line-height: 32px;
  color: #000000; }

.information_header, .updates_heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0; }

.updates {
  background-color: #FFDD78;
  padding-block-start: 63px;
  padding-block-end: 54px; }

.updates_categorie {
  letter-spacing: 0.3em;
  text-transform: uppercase; }

.updates_heading {
  padding-top: 19px;
  padding-bottom: 44px; }

.updates_label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000; }

.updates_submit {
  background: #434CCC;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 13px 45.5px 11px 45.5px; }

#subscribe_email {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 13px 11px 16px; }

#subscribe_email::placeholder {
  color: rgba(0, 0, 0, 0.5); }
