html {
  font-family: "DM Sans", Arial, Helvetica, sans-serif; }

body {
  background-color: rgba(67, 76, 204, 0.05);
  margin: 0;
  padding: 0; }

.container {
  margin-inline-start: 14px;
  margin-inline-end: 15px; }

figure,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav > ul > li a {
  text-decoration: none; }

.site_header {
  background-color: #434CCC;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-block-start: 16px;
  padding-block-end: 16px; }

.site_header__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 0.5rem);
  line-height: calc(24px + 8px);
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 90%; }

.site_header--span {
  display: block;
  text-indent: -999px; }

.label_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  top: 40%;
  left: 92%; }

.site_header__navigation {
  padding: 2rem;
  background-color: lightslategray;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 100%;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s; }

body > input[type="checkbox"]:checked ~ .site_header .site_header__navigation {
  transform: translateX(0%); }

body > input[type="checkbox"]:checked ~ .site_header .label_menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.site_header__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .site_header__lists .site_header__list--items + .site_header__list--items {
    padding-block-start: 1rem; }

.site_header__lists .site_header__list--items .site_header__list--link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF; }

.site_header__lists .site_header__list--items .active,
.site_header__lists .site_header__list--link:hover {
  color: black;
  opacity: 0.5; }
