:root {
  --body-background: #{$body-background-color};
  --bg-heading-color: #{$bg-heading-color};
  --site-header-background: #{$site-header-background-color};
  --sub-heading-color: #{$base-color};
  --updates-background: #{$updates-color};
  --opacity-color: #{$base-color-opacity};
  --base-font-size: #{$default-font-size};
  --base-line-height: #{$base-line-height};
  --base-padding: #{$base_padding};
  --base-margin: #{$base_margin};
}