@mixin nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-indent {
  display: block;
  text-indent: -999px;
}

@mixin bg-header {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}

%big-headeing {
  @include bg-header;
}

@mixin small-fonts {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: $default-font-size;
  line-height: $base-line-height;
}

%small-font {
  @include small-fonts;
}

@mixin smallest-font {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: $base-color;
}

@mixin description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: calc(#{$default-font-size} + 2px);
  line-height: 32px;
  color: $base-color;
}

%description-paragraph {
  @include description;
}

@mixin container-desk($width: 1000px) {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: $width;
}

@mixin sub-title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: $base-color;
  margin: 0;
}

%sub-headings {
  @include sub-title;
}