@mixin nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-indent {
  display: block;
  text-indent: -9999px;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin bg-header {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: calc((var(--base-font-size) * 1.5));
  line-height: calc((var(--base-line-height) + 8px));
  text-transform: uppercase;
  margin: 0;
}

%big-headeing {
  @include bg-header;
}

@mixin small-fonts {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

%small-font {
  @include small-fonts;
}

@mixin smallest-font {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc((var(--base-font-size) - 2px));
  line-height: var(--base-line-height);
  color: var(--sub-heading-color);
}

@mixin description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: calc((var(--base-font-size) + 2px));
  line-height: calc((var(--base-line-height) + 8px));
  color: var(--sub-heading-color);
}

%description-paragraph {
  @include description;
}

@mixin container-desk($width: 1170px) {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: $width;
}

@mixin sub-title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: calc((var(--base-font-size) * 2.5));
  line-height: calc((var(--base-line-height) * 2));
  color: var(--sub-heading-color);
  margin: 0;
}

%sub-headings {
  @include sub-title;
}

@mixin desk-sub-title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: calc((var(--base-font-size) * 3.25));
  line-height: calc((var(--base-line-height) * 2) + 16px);
  color: $base-color;
}